*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
section{
    display: flex;
    flex-direction: column;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 100%;
    padding: 0 30px;
}
nav a{
    text-decoration: none;
    color: black;
}
nav a li::before{
    content: '';
    width: 0%;
    height: 2px;
    background: #D900FC;
    display: block;
    transition: 0.5s;
}
nav a li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #D900FC;
    display: block;
    transition: 0.5s;
}
nav a li:hover::before{
    width: 100%;
}
nav a li:hover::after{
    width: 100%;
}
nav a li:hover{
    color: #D900FC;
}
nav ul{
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 17px;
    padding: 10px 40px;
}
nav ul li{
    list-style-type: none;
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo img{
    height: 10vh;
}.mobile-nav{
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 63px;

}
.mobile-nav ul li{
    list-style: none;
    font-size: larger;
    color: #D900FC;
}
.mobile-nav ul a{
    text-decoration: none;

} 
.toggle button{
    display: none;
    padding: 5px 20px;
    background: white;
}
.center{
    padding: 100px 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}
.main{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.type{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.type h2{
    font-size: 30px;
}
footer{
    background-color: black;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px 0;
}
.mamtos{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.dis{
    display: flex;
    justify-content: space-between;
}
.diss{
    display: flex;
    justify-content: space-between;
}
.back{
    background: url(../Images/Rectangle\ 88\ \(2\).png);
    background-repeat: no-repeat;
    background-size: contain;
}
.bac{
    background: url(../Images/Rectangle\ 88\ \(4\).png);
    background-repeat: no-repeat;
    background-size: contain;
}
.test{
    display: flex;
    flex-direction: column;
    gap: 80px;
}
.plus{
    display: flex;
    border: 0.5px solid black;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    justify-content: space-between;
}
.grade{
    background-image: linear-gradient(132.44deg, #D900FC 26.12%, rgba(217, 0, 252, 0.537413) 66.45%, rgba(217, 0, 252, 0.263011) 107.2%, rgba(217, 0, 252, 0) 107.21%);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 50px 0;
    gap: 30px;
    text-align: center;
    /* width: 100%; */
}
.grade button{
    padding: 10px 30px;
    color: #D900FC;
    font-size: large;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
.grade-p{
    font-size: larger;
}
.react{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.back img{
    position: relative;
    bottom: 30px;
    left: 60px;
}
.bac img{
    position: relative;
    bottom: 30px;
    right: 60px;
}
.list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.list li{
    list-style: none;
}
.listt{
    display: flex;
    gap: 50px;
}
.list ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.list ul a{
    text-decoration: none;
    color: white;
}
.list ul a:hover{
    text-decoration: none;
    color:#D900FC;
    cursor: pointer;
}
.social{
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 0 50px;
    justify-content: space-evenly;
}
.icons{
    display: flex;
    gap: 30px;
}
.about{
    background: url(../Images/Rectangle\ 45.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    color: white;
    text-align: center;
}
.about-1 h1{
    font-size: 40px;
}
.about-2 p{
    font-size: larger;
}

@media screen and (max-width:950px) {
    nav ul{
        display: none;
    }
    .mobile-nav{
        display: flex;
        flex-direction: column;
        height: 0;
        gap: 30px;
        width: 100%;
        transition: all 1s ease;
        align-items: center;
    }
    .mobile-nav ul a{
        color: #D900FC;
        text-decoration: none;
    }
    .display{
        display: flex;
        height: 50vh;
        background-color: gray;
        position: absolute;
        top:65px;
        /* border-radius: 20px; */
        /* left: 40px; */
        padding: 20px 0;
        width: 100%;
    }
    .mobile-nav ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        overflow: hidden;
    }
    .toggle button{
        display: block;
    }
    .center{
        
        padding: 20px 20px;
        width: 100%;
    }
    footer{
        width: 100%;
    }
    .mamtos{
        flex-direction: column;
        padding: 10px 30px;
        gap: 20px;
    }
    .social{
        flex-direction: column;
    }
    .plus-1{
        width: 100%;
    }
    body{
        width: 100%;
    }
    .test{
        flex-direction: column;
    }
    .dis{
        flex-direction: column;
        gap: 50px;
    }
    .diss{
        flex-direction: column-reverse;
    }
    .listt{
        display: flex;
        gap: 60px;
    }
    .main img{
        width: 300px;
        /* height: 300px; */
    }
    .back img{
        width: 250px;
    }
    .logo img{
        height: 70px;
    }
    
}