*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
section{
    display: flex;
    flex-direction: column;
    width: 100%;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 100%;
    padding: 0 30px;
}
nav a{
    text-decoration: none;
    color: black;
}
nav a li::before{
    content: '';
    width: 0%;
    height: 2px;
    background: #D900FC;
    display: block;
    transition: 0.5s;
}
nav a li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #D900FC;
    display: block;
    transition: 0.5s;
}
nav a li:hover::before{
    width: 100%;
}
nav a li:hover::after{
    width: 100%;
}
nav a li:hover{
    color: #D900FC;
}
nav ul{
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 17px;
    padding: 10px 40px;
}
nav ul li{
    list-style-type: none;
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo img{
    height: 10vh;
}.mobile-nav{
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 63px;

}
.mobile-nav ul li{
    list-style: none;
    font-size: larger;
    color: #D900FC;
}
.mobile-nav ul a{
    text-decoration: none;

} 
.toggle button{
    display: none;
    padding: 5px 20px;
    background: white;
}
.center{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 100px;
    gap: 50px;
}
.first{
    background: url(../Images/Rectangle\ 45\ \(3\).png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 70vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    color: white;
    padding: 0 40px;
}
.first h1{
    font-size: 3.5vw;
}
.first p{
    font-size: larger;
}
.btn{
    display: flex;
}
.btn input{
    padding: 17px 70px 17px 15px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: none;
}
.btn button{
    background-color: #D900FC;
    color: white;
    border: none;
    padding: 17px 40px 17px 40px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.about-items{
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
}
.center-1{
    display: flex;
    gap: 100px;
}
.about-items h2{
    color: #D900FC;
    font-size: 3vw;
}
.about-items p{
    font-size: larger;
}
.about-items button{
    background-color: #D900FC;
    padding: 7px 15px;
    color: white;
    font-size: larger;
    border: none;
    border-radius: 10px;
}
.about-items a{
    color: white;
    text-decoration: none;
}
.us{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
footer{
    background-color: black;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px 0;
}
.mamtos{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.list li{
    list-style: none;
}
.list ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.list ul a{
    text-decoration: none;
    color: white;
}
.list ul a:hover{
    text-decoration: none;
    color:#D900FC;
    cursor: pointer;
}
.social{
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 0 50px;
    justify-content: space-evenly;
}

.icon{
    display: flex;
    gap: 30px;
}
.center-2{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.center-2 h1{
    color: #D900FC;
    font-size: 3vw;
}
.service{
    display: flex;
    justify-content: space-between;
}
.serve{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.serve-1{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.serve-1 ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 10px;
}
.serve-1 ul li{
    font-size: larger;
}
.center-3{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.center-3 h2{
    color: #D900FC;
    font-size: 3vw;
}
.reserve{
    display: flex;
    gap: 100px;
    align-items: center;
}
.reserve-0{
    display: flex;
    gap: 100px;
    align-items: center;
}
.reserve-1{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.reserve-1 p{
    font-size: larger;
}
.down{
    background-color: #F9F9F9;
    width: 100%;
}
.down-1{
    display: flex;
    align-items: center;
    gap: 100px;
    padding: 30px 60px;
    justify-content: space-between;
}
.down-1 p{
    font-size: larger;
}
.down-2{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.test{
    background-color: #F9F9F9;
    padding: 50px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 20px;
    width: 100%;
}
.testimony-1{
    display: flex;
    gap: 40px;
    width: 100%;
    /* padding: 0 30px; */
}
.mony img{
    position: relative;
    top: 50px;
    left: 20px;
}
.testimony{
    /* padding: 100px 150px; */
    width: 100%;
    padding: 50px 80px;
}
.you{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.clients{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.clients h2{
    color: #D900FC;
    font-size: 30px;
}


@media screen and (max-width:950px) {
    .body{
        width: 100%;
    }
    nav ul{
        display: none;
    }
    .mobile-nav{
        display: flex;
        flex-direction: column;
        height: 0;
        gap: 30px;
        width: 100%;
        transition: all 1s ease;
        align-items: center;
    }
    .mobile-nav ul a{
        color: #D900FC;
        text-decoration: none;
    }
    .display{
        display: flex;
        height: 70vh;
        background-color: gray;
        position: absolute;
        top:65px;
        /* border-radius: 20px; */
        /* left: 40px; */
        padding: 20px 0;
        width: 100%;
    }
    .mobile-nav ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        overflow: hidden;
    }
    .toggle button{
        display: block;
    }
    .center{
        padding: 100px 30px;
        overflow: hidden;
    }
    .center-1{
        flex-direction: column;
        align-items: center;
    }
    .service{
        flex-direction: column;
        gap: 20px;
    }
    .reserve{
        flex-direction: column;
        width: 100%;
    }
    .reserve-0{
        flex-direction: column-reverse;
        width: 100%;
    }
    .down-1{
        flex-direction: column-reverse;
        padding: 20px 15px;
    }
    .testimony-1{
        flex-direction: column;
        width: 100%;
    }
    .testimony{
        padding: 10px;
        width: 100%;

    }
    footer{
        width: 100%;
    }
    .mamtos{
        flex-direction: column;
        padding: 10px 30px;
        gap: 20px;
    }
    .social{
        flex-direction: column;
    }
    .center-1 img{
        width: 100%;
    }
    .btn input{
        padding: 7px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        border: none;
    }
    .btn button{
        background-color: #D900FC;
        color: white;
        border: none;
        padding: 7px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    .reserve img{
        width: 100%;
    }
    .down-1 img{
        width: 100%;
    }
    .reserve-0 img{
        width: 100%;
    }
    .center-3{
        width: 100%;
    }
    section{
        width: 100%;
        overflow: hidden;
    }
    .you{
        width: 100%;
        padding: 10px;
    }
    .test{
        padding: 50px 13px;
    }
    .mony img{
        position: relative;
        bottom:  50px;
        left: 20px;
    }
}   